In [69]:

from pathlib import Path
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix,recall_score,precision_score,f1_score 
import matplotlib.pylab as plt
import numpy as np

In [70]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [71]:
data_set=pd.read_csv('/content/drive/MyDrive/Machine Learning/UniversalBank.csv')
data_set1=data_set.drop(labels=['ZIP Code','ID'] ,axis=1)
data_set1.describe()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,45.338400,20.104600,73.774200,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,11.463166,11.467954,46.033729,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,23.000000,-3.000000,8.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,35.000000,10.000000,39.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,45.000000,20.000000,64.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,55.000000,30.000000,98.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,67.000000,43.000000,224.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [72]:
data_set2=data_set1[['Personal Loan','CreditCard','Online']].copy()

In [73]:
# spliting the data
train,test = train_test_split(data_set2, test_size=0.4,random_state=11)

In [74]:
# Normalising the Data
dfnormalize=preprocessing.normalize(train)
print(type(train))
print(train.columns)
train_norm=pd.DataFrame(train, columns=data_set2.columns)
train_norm.describe()

<class 'pandas.core.frame.DataFrame'>
Index(['Personal Loan', 'CreditCard', 'Online'], dtype='object')

       Personal Loan   CreditCard       Online
count    3000.000000  3000.000000  3000.000000
mean        0.097000     0.300333     0.593333
std         0.296007     0.458479     0.491294
min         0.000000     0.000000     0.000000
25%         0.000000     0.000000     0.000000
50%         0.000000     0.000000     1.000000
75%         0.000000     1.000000     1.000000
max         1.000000     1.000000     1.000000

In [75]:
pd.melt(train,id_vars=['Personal Loan'], value_vars=['CreditCard','Online'])

      Personal Loan    variable  value
0                 0  CreditCard      0
1                 0  CreditCard      0
2                 0  CreditCard      0
3                 0  CreditCard      1
4                 0  CreditCard      1
...             ...         ...    ...
5995              0      Online      1
5996              0      Online      1
5997              1      Online      0
5998              0      Online      1
5999              0      Online      1

[6000 rows x 3 columns]

In [76]:
train_norm.pivot_table(index=['Personal Loan','CreditCard'],values='Online',aggfunc=len )
 # Pivot Table for Question A

                          Online
Personal Loan CreditCard
0             0             1894
              1              815
1             0              205
              1               86

In [77]:
train.pivot_table(index=['Personal Loan','CreditCard','Online'],aggfunc=len )

Personal Loan  CreditCard  Online
0              0           0          770
                           1         1124
               1           0          330
                           1          485
1              0           0           82
                           1          123
               1           0           38
                           1           48
dtype: int64

In [78]:
# Question B
#The probability of loan acceptence by customers of total records 533 out of 48 was approved.
#48/(48+485)=0.09005

In [79]:
# Question C
train.pivot_table(index=['Personal Loan','Online'],aggfunc=len )

                      CreditCard
Personal Loan Online
0             0             1100
              1             1609
1             0              120
              1              171

In [80]:
train.pivot_table(index=['Personal Loan','CreditCard'],aggfunc=len )

                          Online
Personal Loan CreditCard
0             0             1894
              1              815
1             0              205
              1               86

In [81]:
#Question D
#Probability P ((Personal Loan =1)/ Online=1)
# 171/(171+120)= 0.587
# Probability P ((Personal Loan=0)/Online=1)
#  1609/(1609+1100)=0.5939

In [82]:
# Question D (I  and IV)
#Probability P((Personal Loan=1)/CC=1)
#86/(86+205)=0.2955
#probability P(Personal Loan = 0/CC = 1 ) 
#815/(815+1894)=0.3008

In [83]:
# Question D (III and VI)
train_norm.pivot_table(index=['Personal Loan','CreditCard','Online'],aggfunc=len)

#P(PL=1) The toatl accepted loans is 291 from the 3000 persons
#291/3000=0.097

#P[PL=0]  The people who rejected the loan
#2709/(2709/291)=0.903

Personal Loan  CreditCard  Online
0              0           0          770
                           1         1124
               1           0          330
                           1          485
1              0           0           82
                           1          123
               1           0           38
                           1           48
dtype: int64

In [84]:
# Question E
# NAIVE BAYES probability P(Loan = 1 | CC = 1, Online = 1)
#(0.2955*0.587*0.097)/((0.2955*0.587*0.097)+(0.3008*0.903*0.5939))=0.0.0944

In [85]:
#Naive Bayes 
predictor = np.array(train_norm.iloc[:,[1,2]] )
target = np.array(train_norm['Personal Loan'])
X_train,X_test,y_train,y_test = train_test_split(predictor,target,test_size=0.4,random_state=15)

In [86]:
 #Initialize the object and training data
Gs = GaussianNB()
Gs.fit(X_train,y_train)

GaussianNB()

In [87]:
#predictions
Gs_y_predict = Gs.predict(X_test)
print(Gs_y_predict)

[0 0 0 ... 0 0 0]

In [88]:
# prediction accuracy
print(accuracy_score(y_test,Gs_y_predict))

0.905

In [89]:
# Question F
# I don't know which one is more accurate, what do I compare it too? But based on the lecture, I would say pivot table B because, the one con of Naive Bayes is that it assumes that ll predictors are independent. This means that pivot table B is more accurate because in a real life scenario I do not think its possible for the predictors to be independent, and this is where in pivot table B the relationship between the predictors stay.

In [90]:
#Question G
# We can see outcome is the same 0.097 = 9.7% which is out of those 3000 customers. Only 9.7% accepted the loan